<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5718487156861573"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="containertitulo">
        <h1>Sobre mi</h1>
    </div>
    <div class="politicas">
        

  <p>
    ¡Bienvenido/a a mi página de entrenamiento de Freestyle Rap! Soy carlos, un apasionado del rap y he creado este sitio para ayudar a aquellos interesados en el freestyle rap a mejorar sus habilidades y desarrollar su creatividad.
  </p>

  <h2>¿Qué encontrarás en esta página?</h2>

  <p>
    En esta página, encontrarás una variedad de recursos y consejos diseñados para impulsar tu entrenamiento en el freestyle rap. Desde técnicas básicas hasta ejercicios avanzados, cubrimos todos los aspectos necesarios para que puedas mejorar tus habilidades y convertirte en un gran improvisador de rap.
  </p>

  <p>
    Aprenderás sobre la importancia del ritmo, la métrica, el flujo y las diferentes técnicas de rimas. También compartiré ejercicios y prácticas recomendadas para ayudarte a desarrollar tu fluidez verbal, tu capacidad de improvisación y tu habilidad para crear letras ingeniosas sobre la marcha.
  </p>

  <h2>¿Por qué entrenar freestyle rap?</h2>

  <p>
    El freestyle rap es una forma de expresión artística que te permite improvisar letras y rimas sobre el ritmo. Es una habilidad increíblemente valorada en la cultura del hip-hop y puede abrirte muchas puertas en la industria musical. Además, el freestyle rap es una forma divertida y desafiante de ejercitar tu mente y mejorar tu creatividad.
  </p>

  <p>
    Ya sea que estés interesado en convertirte en un rapero profesional o simplemente quieras divertirte con tus amigos, el entrenamiento en el freestyle rap puede ser una experiencia gratificante y enriquecedora. ¡Únete a nosotros y comienza tu viaje para convertirte en un maestro del freestyle rap!
  </p>
    
<div class="footer">
    <a href="politicas">Políticas de privacidad</a>
    <a href="cookies">Políticas de cookies</a>
    <a href="contacto">Contacto</a>
    <a href="about">Sobre mi</a>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>